<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<style>
  body {
    font-size: 1em;
    width: 90%;
    max-width: 900px;
    margin: 50px auto;
    position: relative;
  }
  .px {
    font-size: 1em;
    color: red;
    position: absolute;
    top: 0;
  }
  .rem {
    font-size: 2em;
  }
</style>
<body>
  <div></div>
  <div class="px">
    <span class="rem">1111111111</span>
  </div>
</body>
</html>